/* Dairien.com 2015 Stylesheet */

@font-face { 
	font-family: Brandon Grotesque;
	font-weight: 300;
	src: url('../assets/Brandon_light.otf');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face { 
	font-family: Brandon Grotesque;
	font-weight: 500;
	src: url('../assets/Brandon_med.otf'); 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face { 
	font-family: Brandon Grotesque;
	font-weight: 700;
	src: url('../assets/Brandon_bld.otf'); 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face { 
	font-family: Brandon Grotesque;
	font-weight: 900;
	src: url('../assets/Brandon_blk.otf'); 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: #fff;
	color: #333;
	cursor: auto;
	font-family: Brandon Grotesque, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	position: relative;
}

h1{
	font-size: 56px;
	color: #000;
	margin-top: 1em;
	margin-bottom: 0;
	font-weight: 500;
}

h2{
	font-size: 44px;
	color: #000;
	margin-bottom: 0;
}

p{
	font-size: 21px;
	margin-top: .5em;
	margin-bottom: 1em;
	/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;*/
	letter-spacing: 0.01em;
	font-weight: 300;
}

ul{
	font-weight: 300;
}

a, a:link{
	color: #537393;
	text-decoration: none;
	font-weight: normal;
	outline: none;
}

a:hover{
	text-decoration: underline;
}

.column, .columns{
  min-height: 1px;
}

#header{
	width: 100%;
	padding: 1em;
	margin: 0;
	max-width: inherit;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: #fff;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.10);
	opacity: 0;
	z-index: 10;
}

#header2{
	width: 100%;
	padding: 1em;
	margin: 0;
	max-width: inherit;
	position: relative;
	z-index: 2;
}

#header .logo{
	text-align: center;
}

#header ul,
#header2 ul{
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	display: block;
	overflow: hidden;
}

#header ul li,
#header2 ul li{
	display: inline-block;
}

#header .nav li,
#header2 .nav li{
	margin-right: 4%;
}

#header .nav a,
#header .nav a:link,
#header2 .nav a,
#header2 .nav a:link{
	font-weight: normal;
	color: #333;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 32px;
	opacity: .5;
	transition: .3s;
}

#header .nav a:hover,
#header2 .nav a:hover{
	text-decoration: none;
	opacity: 1 !important;
	transition: .4s;
}

#header .nav .active a,
#header .nav .active a:link{
	font-weight: bold !important;
	opacity: 1 !important;
}

#header .social,
#header2 .social{
	text-align: right;
}

#header .social li,
#header2 .social li{
	margin-left: 1%;
}

#hero{
	position: relative;
	text-align: center;
	margin: 2% auto;
	/*border-bottom: 1px solid #EFF1F4;*/
	padding-bottom: 4%;
}

#hero p{
	font-size: 30px;
	padding: 0 10%;
	line-height: 1.3;
}

#hero hr{
	width: 50%;
	margin: 60px auto;
	border: none;
	background: none;
	border-bottom: 1px solid #EFF1F4;
}

#hero .workCTA{
	display: inline-block;
	width: auto;
	background-color: #000000/*#414446*/;
	color: #fff;
	font-size: 21px;
	line-height: inherit;
	height: 3.4em;
	line-height: 3.4em;
	padding: 0 2.5em;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 8px;
	letter-spacing: 1px;
	cursor: pointer;
}

#hero .workCTA:link,
#hero .workCTA:hover,
#hero .workCTA:visited{
	text-decoration: none;
}

#work{
	min-width: 960px;
	margin: 0 20px 1% 20px;
}

#work .thumbnail .row{
	max-width: inherit;
}

#work h2{
	margin-top: 10px;
}

#work h2 .tag{
	font-size: 11px;
	border: 1px solid #000;
	border-radius: 3px;
	letter-spacing: 1px;
	padding: 2px 6px 2px 8px;
	vertical-align: super;
}

#work .large-1 img{
	display: block;
	position: relative;
	top: 64px;
	left: 0;
	cursor: pointer;
}

#work .large-1 img.arrow-right{
	left: inherit;
	right: -32px;
}

#work .large-10 {
	padding-left: 5%;
	padding-right: 5%;
}

.thumbnail{
	position: relative;
	width: 100%;
	padding: 15% 0;
	background: rgba(240,240,240,1);
	margin-bottom: 20px;
}

.thumbnail .project-detail{
	min-height:500px;
	color: #FFFFFF;
}

.thumbnail .project-detail h3{
	text-transform: uppercase;
	font-size: 52px;
	font-weight: 900;
	margin: 0;
	padding: 0;
	letter-spacing: 3px;
}

.thumbnail ul.competency{
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0 0 30px;
	font-size: 16px;
	font-weight: 700;
}

.thumbnail .competency li{
	float: left;
	margin: 0 30px 0 0;
	padding: 0;
	text-transform: uppercase;
	opacity: 0.5;
	letter-spacing: 1px;
}

.thumbnail .competency li:first-child{
	list-style: none;
}

.thumbnail p{
	font-size: 24px;
	margin: 0 0 50px;
	padding: 0 30% 0 0;
	letter-spacing: 0.4px;
}

.thumbnail .screen-tabs{
	font-size: 23px;
	list-style: none;
	border-bottom: 2px solid rgba(255,255,255,.2);
	margin: 0 25% 0 0;
	padding: 0;
	letter-spacing: 0.4px;
}

.thumbnail .screen-tabs li{
	padding: 14px 0;
	border-top: 2px solid rgba(255,255,255,.2);
	color: rgba(255,255,255,.5);
	cursor: pointer;
	transition: color .3s ease, text-indent .3s ease;
	text-indent: 20px;
}

.thumbnail .screen-tabs li:hover{
	color: rgba(255,255,255,1);
	text-indent: 35px;
}

.thumbnail .screen-tabs li.active{
	text-indent: 50px;
	font-weight: 500;
	color: rgba(255,255,255,1);
	background: transparent url('../images/icon_arrow-right@2x.png') 20px center no-repeat;
	background-size: 12px 17px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}

.thumbnail.archetype{
	background-color: #A283C2;
}

.thumbnail.rise{
	background-color: #F77870;
}

.thumbnail.pictour{
	background-color: #414446;
}

.thumbnail.messaging{
	background-color: #E2AB4B;
}

.thumbnail .iphone{
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 0;
}

.thumbnail .frame{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.thumbnail .iphone .frame video{
	position: absolute;
	z-index: 5;
	height: inherit;
	background: #000;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.thumbnail .iphone .frame img{
	position: relative;
	display: block;
	width: 645px;
	height: inherit;
	z-index: 1;
}

.thumbnail .project-detail{
	opacity: 0;
}

#slider .bx-wrapper .bx-viewport {
	box-shadow: none;
	border: none;
	left: 0;
}

#slider .bx-wrapper .bx-viewport .bxslider {
	margin: 0;
	padding: 0;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: relative;
    bottom: inherit;
    width: auto;
    float: right;
    padding-top: 50px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: #F3F4F6;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #537393;
}

#about {
	margin: 0 auto 7%;
}

#about .large-10 {
	padding-left: 7%;
	padding-right: 7%;
}

#about h2{
	text-align: center;
}

#about p{
	text-align: ;
}

#light-blue{
	background-color: #F9F9FA;
	position: relative;
	width: 100%;
	overflow: hidden;
}

#qualities {
	text-align: center;
	border-bottom: 1px solid #EFF1F4;
}

#qualities span{
	display: block;
	margin: 2.5em 0;
}

#qualities label{
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 1.5em 0 0 0;
}

#qualities img{
	display: block;
	margin: 0 auto;
}

#desdev{
	margin: 5% auto 7%;
}

#desdev h2{
	text-align: center;
}

#desdev p{
	text-align: justify;
}

#dark-blue{
	background-color: #1D2329;
	color: #fff;
	padding: 5% 0 3%;
}

#dark-blue h2{
	color: #fff;
}

#dark-blue a,
#dark-blue a:link{
	color: #fff;
}

#contact p{
	color: rgba(255,255,255,.6);
}

#contact p.twitter{
	border-top: 1px solid #33383E;
	padding-top: 40px;
	margin-top: 40px;
}

#contact p.twitter img{
	vertical-align: sub;
	margin-right: 5px;
	position: relative;
	top: -2px;
}

#contact .large-7{
	background-color: #171C20;
	border-radius: 8px;
	padding: 3% 3% 1% 3%;
	margin-bottom: 5%;
}

#contact .large-7 .row{
	margin-bottom: 3%;
}

#contact input,
#contact textarea{
	display: block;
	width: 100%;
	border: none;
	background: #222A30;
	font-family: Brandon Grotesque;
	font-size: 23px;
	line-height: 23px;
	font-weight: normal;
	color: rgba(255,255,255,.6);
	padding: .8em .4em;
	margin-bottom: 2%;
	border-radius: 3px;
	outline: none;
	letter-spacing: .5px;
}

#contact input{
	height: 23px;
}

#contact input:focus,
#contact textarea:focus{
	background-color: rgba(255,255,255,.8);
	color: #333;
}

#contact textarea{
	resize: none;
	height: 4.5em;
	padding: .4em;
}

#contact input[type=submit]{
	width: auto;
	background-color: #537393;
	color: #fff;
	font-size: 15px;
	line-height: inherit;
	height: 3.4em;
	padding: 0 2.5em;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	letter-spacing: 1px;
	cursor: pointer;
}

#contact input[type=submit]:hover{
	background-color: #577A9E;
}

#contact label{
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(255,255,255,.6);
	min-height:24px;
	overflow: hidden;
	margin-bottom: .5em;
}

#footer p{
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(255,255,255,.6);
}

#dark-blue #footer p a,
#dark-blue #footer p a:link{
	color: rgba(255,255,255,.6);
	font-weight: normal;
}

#dark-blue #footer .right p{
	text-align: right;
}

.pictour{
	cursor: pointer;
}

#video-overlay{
	position: fixed;
	z-index: 999;
	background-color: #000;
	background-color: rgba(250,250,250,.97);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#video-overlay video{
	display: block;
	margin: 7% auto 0;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
	border: none;
}

#video-overlay .close{
	display: block;
	position: fixed;
	top: 5%;
	right: 5%;
}


@media screen and (max-device-width: 480px) {
	h2{
		font-size: 72px;
		text-align: center;
	}
	p{
		font-size: 36px;
		line-height: 1.3;
	}
    #header, #header2 {
    	display: none;
    }
    #hero{
    	margin-top: 10%;
    	border: none;
    }
    #hero img{
    	width: 8%;
    }
    #hero h1{
    	font-size: 84px;
    }
    #hero p{
    	font-size: 48px;
    	padding: 0 8%;
    }
    #work .large-1,
    #about .large-1{
    	display: none;
    }
    #work .large-10,
    #about .large-10{
    	margin: 0;
    	width: 100%;
    	padding: 0 10%;
    }
    #work h2{
    	text-align: left;
    }
    #qualities{
    	display: none;
    }
    #desdev{
    	margin: 10% 0;
    }
    #desdev .large-2{
    	display: none;
    }
    #desdev .large-5{
    	width: 100%;
    	padding: 0 10%;
    }
    #desdev p{
    	font-size: 48px;
    }
    #contact{
    	margin: 10% 0;
    }
    #contact .large-1{
    	display: none;
    }
    #contact .large-4,
    #contact .large-7{
    	width: 100%;
    	padding: 0 10%;
    	background: none;
    }
    #contact .large-6{
    	width: 100%;
    }
    #contact p{
    	font-size: 48px;
    }
    #contact p.twitter{
    	margin-top: 80px;
    	padding-top: 80px;
    }
    #contact p.twitter img{
    	height: 48px;
    	width: auto;
    }
    #contact label{
    	font-size: 48px;
    }
    #contact input{
    	height: 112px;
    }
    #contact #lname{
    	display: none;
    }
    #contact input[type=submit]{
    	width: 100%;
    	height: 148px;
    	font-size: 48px;
    	border-radius: 12px;
    	margin: 20px 0 40px;
    }
    #contact form{
    	margin-top: 80px;
    }
    #footer .large-6{
    	width: 100%;
    	padding: 0 10%;
    	text-align: center;
    	margin: 0;
    }
    #footer p{
    	font-size: 36px;
    }
    #dark-blue #footer .right p{
    	text-align: center;
    }
}

@media screen and (max-width: 700px) {
	#header, #header2{
		display: none;
	}
	#hero{
		margin: 10% 0;
	}
	#work .large-1{
		display: none;
	}
	#work .large-10{
		width: 100%;
	}
	#about .large-1{
		display: none;
	}
	#about .large-10{
		width: 100%;
	}
	#qualities{
		display: none;
	}
	#desdev .large-2{
		display: none;
	}
	#desdev .large-5{
		width: 48%;
	}
	#contact .large-4{
		width: 100%;
	}
	#contact .large-1{
		display: none;
	}
	#contact .large-7{
		width: 95%;
		float: none;
		margin: 0 auto;
		padding: 0;
		background: none;
	}
	#contact p.twitter{
		margin-bottom: 40px;
	}
	#contact form{
		margin-bottom: 40px;
	}
}











