/* Dairien.com 2015 Stylesheet */

@font-face { 
	font-family: Brandon Grotesque;
	font-weight: 500;
	src: url('../assets/Brandon_med.otf'); 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face { 
	font-family: Brandon Grotesque;
	font-weight: 900;
	src: url('../assets/Brandon_blk.otf'); 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face { 
	font-family: Atlas Grotesk;
	font-weight: 500;
	src: url('../assets/AtlasGrotesk-Regular.otf'); 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face { 
	font-family: Atlas Grotesk;
	font-weight: 700;
	src: url('../assets/AtlasGrotesk-Medium.otf'); 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

body {
	background: #fff;
	color: #333;
	cursor: auto;
	font-family: Atlas Grotesk, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	position: relative;
}

h1{
	font-size: 4.6vw;
	color: #20262f;
	margin-top: 1em;
	margin-bottom: 0;
	font-weight: 500;
}

h2{
	font-size: 44px;
	color: #20262f;
	margin-bottom: 0;
}

p{
	font-size: 21px;
	margin-top: .5em;
	margin-bottom: 1em;
	/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;*/
	letter-spacing: 0.01em;
	font-weight: 300;
}

ul{
	font-weight: 300;
}

a, a:link{
	color: #537393;
	text-decoration: none;
	font-weight: normal;
	outline: none;
}

a:hover{
	text-decoration: underline;
}

a.btn{
	display: inline-block;
	font-weight: 700;
	width: 210px;
	padding: 16px 28px 14px;
	background: #039FF6;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	margin: 0 4px;
	font-size: 1.3em;
}

.column, .columns{
  min-height: 1px;
}

#dotNav{
	display: block;
	position: fixed;
	list-style: none;
	width: 24px;
	right: 60px;
	top: 50%;
	margin: 0;
	padding: 10px 0 0;
	z-index: 10;
	overflow: visible;
}

#dotNav li{
	display: block;
	list-style: none;
	background: transparent;
	height: 24px;
	width: 24px;
	border-radius: 24px;
	margin: 0 0 14px;
	padding: 0;
	border: 2px solid #fff;
	opacity: 0.66;
	cursor: pointer;
	transition: opacity .3s ease;
}

#dotNav li:hover{
	opacity: 1;
}

#dotNav li.active{
	background: #fff;
	opacity: 1;
}

#header .logo{
	text-align: center;
}

.slide{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: transparent;
	/*border: 10px #fff solid;*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#container{
	width : 100%; 
	height : 100%; 
	position : absolute; 
	top : 0px; 
	left : 0px;
	margin : 0px;
	padding : 0px;
}

#hero{
	position: relative;
	text-align: center;
	height: 100vh;
	width: 100%;
	position: fixed;
}


#hero .inside{
	position: relative;
	transform: translate(0px, -50%);
	top: 50%;
	width: 60vw;
	margin: 0 auto 0;
	z-index: 1;
}

#canvas{
	position: absolute;
	top: 10vh;
	left: 10vw;
	z-index: 0;
}

#hero h1{
	font-family: Brandon Grotesque;
	font-size: 6.5vw;
	margin-top: 5vw;
}

#hero p{
	font-weight: 200;
	font-size: 2.1vw;
	line-height: 3.2vw;
	margin: 0;
	padding: 1.5vh 0 0;
}

#hero .ctas{
	padding: 7vh 0 0;
}

#hero .ctas a.btn{
	font-size: 1.3vw;
	width: 15vw;
	padding: 0.9vw 0;
}

#hero a.btn.messageCTA{
	background: #fff;
	color: #039FF6;
}

#hero a.btn.messageCTA img{
	top: -2px;
    margin-right: 5px;
    position: relative;
    width: 1.3vw;
}

#hero ul{
	display: inline-block;
	position: relative;
	overflow: hidden;
	list-style: none;
	text-align: center;
	padding: 6.5vh 0 0;
	margin: 0;
}

#hero ul li{
	display: inline-block;
	list-style: none;
	padding: 0;
}
#hero ul li a{
	padding: 2vw 2.5vw;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}
#hero ul li img{
	height: 21px;
	fill: #ccc;
}
#hero ul li a:hover{
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}
#hero ul li img.twitter{
	height: 20px;
}
#hero ul li img.github{
	height: 26px;
}

#hero ul li img path{
	fill: #ccc;
	background-color: #ccc;
}

#hero.loaded {
    opacity: 1;
}

#hero.hidden {
    height: 0vh !important;
    overflow: hidden;
    display: none;
}

#hero p,
#hero h1,
#hero ul,
#hero img,
#hero .ctas {
    opacity: 0;
    transition: all 600ms cubic-bezier(.21,.69,.75,.7) 450ms;
    transform: translateY(20px);
}
#hero.loaded p,
#hero.loaded img,
#hero.loaded ul,
#hero.loaded h1,
#hero.loaded .ctas {
    opacity: 1;
    transform: none;
}
#hero h1 {
    transition-delay: 550ms;
}
#hero p {
    transition-delay: 650ms;
}
#hero .ctas {
    transition-delay: 700ms;
    overflow: visible !important;
}
#hero ul {
    transition-delay: 750ms;
    overflow: visible !important;
}


.deleteicons{
	display: block;
	margin: 75px auto 0;
}

#work{
	/*min-width: 960px;*/
	margin: 0 0 1% 0;
}

.thumbnail{
	position: relative;
	width: 100%;
	height: 100vh;
	background: rgba(240,240,240,1);
	margin-bottom: 20px;
}

#work .thumbnail .row{
	max-width: inherit;
	position: relative;
	top: 27vh;
}

.thumbnail .project-detail{
	min-height:500px;
	color: #FFFFFF;
}

.thumbnail .project-detail h3{
	font-family: Brandon Grotesque;
	text-transform: uppercase;
	font-size: 52px;
	font-weight: 900;
	margin: 0;
	padding: 0;
	letter-spacing: 3px;
}

.thumbnail ul.competency{
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0 0 30px;
	font-size: 16px;
	font-weight: 700;
	height: 24px;
}

.thumbnail .competency li{
	float: left;
	margin: 0 30px 0 0;
	padding: 0;
	text-transform: uppercase;
	opacity: 0.5;
	letter-spacing: 1px;
}

.thumbnail .competency li:first-child{
	list-style: none;
}

.thumbnail p{
	font-size: 1.6vw;
	line-height: 1.6em;
	margin: 0 0 50px;
	padding: 0 15% 0 0;
	letter-spacing: 0.4px;
}

.thumbnail .screen-tabs{
	font-size: 1.6vw;
	line-height: 1.3em;
	list-style: none;
	border-bottom: 2px solid rgba(255,255,255,.2);
	margin: 0 15% 0 0;
	padding: 0;
	letter-spacing: 0.4px;
}

.thumbnail .screen-tabs li{
	padding: 14px 0;
	border-top: 2px solid rgba(255,255,255,.1);
	color: rgba(255,255,255,.5);
	cursor: pointer;
	transition: color .3s ease, text-indent .3s ease;
	text-indent: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.thumbnail .screen-tabs li:hover{
	color: rgba(255,255,255,1);
	text-indent: 35px;
}

.thumbnail .screen-tabs li.active{
	text-indent: 50px;
	font-weight: 500;
	color: rgba(255,255,255,1);
	background: transparent url('../images/icon_arrow-right@2x.png') 20px center no-repeat;
	background-size: 12px 17px;
}

.thumbnail .screen-tabs li.image.active{
	background: transparent url('../images/icon_photo@2x.png') 15px center no-repeat;
	background-size: 19px 16px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}

.thumbnail.archetype{
	background-color: #A283C2;
}

.thumbnail.rise{
	background-color: #F77870;
}

.thumbnail.pictour{
	background-color: #414446;
}

.thumbnail.messaging{
	background-color: #E2AB4B;
}

.thumbnail .iphone{
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 0;
}

.thumbnail .frame{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.thumbnail .iphone .frame .screen{
	position: absolute;
	z-index: 5;
	height: inherit;
	background: #000;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.thumbnail .iphone .frame img{
	position: relative;
	display: block;
	width: 645px;
	height: inherit;
	z-index: 1;
}

.thumbnail .project-detail{
	opacity: 0;
}

.thumbnail a.down,
.thumbnail a.down:link,
.thumbnail a.down:visited,
.thumbnail a.down:hover{
	display: block;
	position: absolute;
	width: 71px;
	height: 49px;
	bottom: 40px;
	right: 50%;
	margin-left: -35.5px;
}

#slider .bx-wrapper .bx-viewport {
	box-shadow: none;
	border: none;
	left: 0;
}

#slider .bx-wrapper .bx-viewport .bxslider {
	margin: 0;
	padding: 0;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: relative;
    bottom: inherit;
    width: auto;
    float: right;
    padding-top: 50px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: #F3F4F6;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #537393;
}

#about {
	margin: 0 auto;
	clear: both;
}

.pictour{
	cursor: pointer;
}

#video-overlay{
	position: fixed;
	z-index: 999;
	background-color: #000;
	background-color: rgba(250,250,250,.97);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#video-overlay video{
	display: block;
	margin: 7% auto 0;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
	border: none;
}

#video-overlay .close{
	display: block;
	position: fixed;
	top: 5%;
	right: 5%;
}

#about .row{
	max-width: 45em;
}

#about #skills-graph{
	text-align: center;
	padding: 0;
	background-image: url(../images/skills-graph-bg@2x.jpg);
	background-position: 0 center;
	background-repeat: repeat-x;
	background-size: 5px 394px;
	background-color: transparent;
	margin: 60px 0 -2px;
}

#about #skills-graph img{
	height: 394px;
	width: auto;
}

#about #skills{
	background: #000;
	color: #fff;
	padding: 50px 0 100px;
}

#about #skills p{
	opacity: .66;
}

#about #skills .skill{
	padding: 20px 0 0;
}

#about #headshot{
	padding: 80px 0 50px;
	text-align: center;
}

#about a{
	color: #039FF6;
}

#about #emailme a{
	display: block;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 20px;
}

#about #emailme a span{
	display: block;
	float: left;
	width: 56px;
	height: 56px;
	border-radius: 27px;
	background-color: #039FF6;
	margin-right: 24px;
	text-align: center;
	line-height: 56px;
}

#about #emailme a span img{
	width: 24px;
}

#about h2,
#about h3{
	margin: 0;
	padding: 1vw 0;
	font-size: 36px;
}

#about #closing{
	padding: 50px 0 120px;
}

#about #closing ul{
	dispaly: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 40vw;
	list-style: none;
}

#about #closing li{
	display: block;
	float: left;
	width: 20vw;
}

#about #closing #marker{
	width: 60px;
	height: 4px;
	background: #000;
	margin: 50px 0;
	border-radius: 1px;
}




@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
	.logo{ /* Have two separate sprite files, resize background to half of the size */
		background-image: url(assets/sprite@2x.png);
		background-size: 500px 500px;
	}  
}


@media screen and (max-width: 1024px) {
	#hero h1{
		font-size: 6vw;
	}
	#hero p{
		font-size: 2.4vw;
		line-height: 3.7vw;
	}
	#hero .ctas a.btn{
		font-size: 2.1vw;
		width: 24vw;
		padding: 0.9vw 0;
	}
	#hero a.btn.messageCTA img{
		width: 2.1vw;
	}
	#hero .inside{
		width: 65vw;
	}
	.thumbnail{
		padding: 800px 20% 10% 20%;
		height: inherit;
	}
	.thumbnail p{
		font-size: 2.5vw;
		padding-right: 0;
	}
	#work .thumbnail .row{
		top: inherit;
	}
	.thumbnail .screen-tabs{
		font-size: 2.5vw;
		margin-right: 0;
	}
	#about .row{
		padding: 0 8%;
	}
	#about #closing.row{
		padding: 80px 8%;
	}
	#about #skills-graph img{
		height: 44vw;
	}
	#about #skills-graph {
		background-size: 5px 45vw;
	}
    #about #emailme a {
    	margin-bottom: 8vw;
    	font-size: 4vw;
    	text-align: center;
    }
    #about #emailme a span {
    	float: none;
    	display: inline-block;
    	position: relative;
	    width: 8vw;
	    height: 8vw;
	    border-radius: 4vw;
	    margin-right: 4vw;
	    line-height: 8vw;
	    top: -1vw;
	}
}

@media screen and (max-width: 700px) {
	#work .large-1{
		display: none;
	}
	#work .large-10{
		width: 100%;
	}
}

@media screen and (max-width: 640px) {
	#hero img{
		width: 5vw;
	}
	#hero h1{
		font-size: 9vw;
	}
	#hero p{
		font-size: 3.2vw;
		line-height: 5vw;
	}
	#hero .ctas a.btn{
		font-size: 3vw;
		width: 100%;
		padding: 2vw 0;
		margin: 0 auto 3vw;
	}
	#hero ul li a {
		padding: 2vw 3vw;
	}
	#hero ul li img {
		height: 3.2vw;
		width: auto;
	}
	#hero ul li img.twitter {
		height: 2.8vw;
	}
	#hero ul li img.github {
		height: 3.6vw;
	}
	#work .thumbnail{
		padding: 800px 7% 10% 7%;
	}
	#work .thumbnail p{
		font-size: 3.5vw;
		padding-right: 0;
	}
	#work .thumbnail .screen-tabs{
		font-size: 3.5vw;
		margin-right: 0;
	}
	#work .thumbnail h3{
		font-size: 8vw;
	}
	#work .thumbnail ul.competency{
		font-size: 2.5vw;
		height: 2.9vw;
	}
}

@media screen and (max-device-width: 480px) {
	#dotNav{
		display: none;
	}
	#hero h1{
		font-size: 10vw;
		margin-top: 10vw;
	}
	#hero p{
		font-size: 5vw;
		line-height: 7.5vw;
	}
	#hero .ctas a.btn{
		font-size: 5vw;
		width: 100%;
		padding: 3vw 0;
		margin: 0 auto 3vw;
	}
	#hero a.btn.messageCTA img{
		width: 4vw;
		margin-right: 2vw;
		top: -0.5vw;
	}
	#hero .inside{
		width: 80vw;
	}
	#hero ul li {
		padding: 0 2vw;
	}
	#hero ul li a{
		padding: 2vw;
	}
	#hero img{
		width: 64px;
	}
	#hero ul li img{
		height: 44px;
		width: inherit;
	}
	#hero ul li img.twitter{
		height: 42px;
	}
	#hero ul li img.github{
		height: 52px;
	}
    #work .thumbnail{
    	padding: 800px 10% 15%;
    }
    #work .thumbnail p{
    	font-size: 3vw;
    }
    #work .thumbnail h3{
    	font-weight: 64px;
    }
    #work .thumbnail ul.competency{
    	font-size: 24px;
    	height: 48px;
    }
    #work .thumbnail .screen-tabs{
    	font-size: 3vw;
    }
    #work .thumbnail .screen-tabs li{
    	padding: 3vw 0;
    }
    .thumbnail .screen-tabs li.active {
    	background-size: 2vw 2.6vw;
    }
    .thumbnail .screen-tabs li.image.active {
    	background-size: 3vw 2.6vw;
	}
	.thumbnail .screen-tabs li.active{
		text-indent: 7vw;
	}
    #work .large-1,
    #about .large-1{
    	display: none;
    }
    #work .large-10,
    #about .large-10{
    	margin: 0;
    	width: 100%;
    	padding: 0 10%;
    }
    #about{
    	padding: 5% 0;
    	text-align: left;
    }
    #about .row{
    	width: 80%;
    	padding: 0;
    	max-width: inherit;
    }
    #about #closing.row{
    	width: 80%;
    	padding: 12% 0 7%;
    	max-width: inherit;
    }
    #about #headshot {
    	padding: 80px 0 8vw;
    }
    #about #headshot img{
    	width: 100%;
    }
    #about #closing ul{
    	width: 80vw;
    }
    #about #closing li{
    	width: 40vw;
    }
    #about #closing a{
    	font-size: 21px;
    }
    #about #closing p img{
    	width: 21px;
    }
}







